.extension{
    text-align: center;

    &__item:first-child{
        margin-top: 1em;
        height: 365px;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }

    &__item:nth-child(2){
        margin-top: 5em;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);
        height: 365px;
        border-radius: 20px;
        
    }

    &__item:last-child{
        margin-top: 9em;
        height: 365px;
        box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
}

.extension__card{
    height: 500px;
    text-align: center;
    @include flex-row;
    justify-content: space-between;
    gap: 2em;
    
}

.extension__button {
    margin: 0;
    margin-top: 3em;
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .extension__card{
        display: flex;
        flex-direction: column;
        gap: 4em;
        height: auto;
    }

    .extension__item:first-child {
        margin: 0;
        margin-top: 1em;
        height: 316px;
        box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.2);
    }

    .extension__item:nth-child(2) {
        margin: 0;
        height: 316px;
        box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.2);
        margin-top: 2em;
    }

    .extension__item:last-child {
        margin: 0;
        margin-top: 2em;
        height: 316px;
        box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.2);
    }

    .extension__button {
        margin: 0;
        width: 93%;
        margin-top: 1em;
    }
}

