.bookmark{
    @include flex-row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bm-paragraph{
    @include spacing;
}

.bookmark__image{
    position: relative;
    transform: translateX(20%);
}

@media only screen and (max-width: 600px) { 
    .bookmark{
        @include flex-column;
        flex-direction: column-reverse;
        margin-bottom: 10em;
    }

    .bm-paragraph{
        font-size: 16px;
    }

    .bookmark__heading{
        font-size: 32px;
    }
}

    