@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin spacing{
    word-spacing: 1px;
    line-height: 1.7em;
}

@mixin heading{
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 2em;
}